.main-menu {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: rgb( 245, 245, 245 );
}

.left-nav{
    float: left;
}

.right-nav{
    float: right;
}

.d-bg-none{
    display: block;
}


.d-bg-block{
  display: none;   
}
.nav a.active {
    color: rgb( 64, 64, 64 );
    background-color: lightgrey;
}

a:hover{
    background-color: lightgrey
    ;
}









@media only screen and (min-width:700px) {

    
.nav {
    display: flex;
    flex-wrap: wrap;
}

.d-bg-block{
    display: block;
}

.d-bg-none{
    display: none;
}

.nav a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: rgb( 160, 160, 160 );
}

.nav {
    display: flex;
    flex-wrap: wrap;
}


    
}