@use '../mixins/meet' as mixinBorder;

main {
    width: 90%;
    margin: 0 auto;
  }

  .color-red{
    color: red !important;
  }
  
  .meeting-card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    @include mixinBorder.border-radius( 5px );
    padding: 1em;
  }
  .excuse-yourself-btn {
    padding: 0.5em;
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
    border-radius: 5px;
  }
  .date {
    font-size: 1.3em;
    font-weight: 600;
  }
  .duration {
    font-weight: 500;
  }
  .meeting-name {
    font-weight: 500;
  }