.teams-page{
main {
    width: 90%;
    margin: 0 auto;
  }
  .add-team-toggler {
    font-size: large;
    color: rgba(0, 0, 0, 0.701);
    display: flex;
  }
  .card-collection {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .plus-btn {
    background-color: white;
    border: none;
    border: 1px solid rgb(163, 163, 163);
    padding: 0 45%;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    word-break: break-all;
  }
  .hide {
    display: none;
  }
  .add-team {
    border: none;
  }
  .excuse-yourself-btn {
    padding: 0.5em;
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
    border-radius: 5px;
  }
  .team-name {
    font-size: 1.3em;
    font-weight: bold;
  }
  .team-short-name {
    font-size: 1em;
    font-weight: bold;
  }

  .visually-hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }
  
  @media (min-width: 640px) {
    .plus-btn {
      border: none;
    }
    .card-collection {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
    .card {
      margin: 10px 0px;
      margin: 10px;
      width: 27%;
    }
    .add-team {
      border: 1px solid #ddd;
      text-align: center;
    }
  
    div.card.add-team {
      display: flex;
      justify-content: center;
    }
  }
}