main{
    margin: 10px 5% ;
}

.container-filter-main{
  width: 90%;
  background-color: lightblue;
  border-radius: 10px;
  border-top-left-radius: initial;
}

.flex-container-meeting{
    display: flex;
    flex-wrap: nowrap;
}

.flex-container-meeting .box{
    min-width: 20%;
    color: blue;
    background-color: white;
}

.box.active{
   color: grey;
}

#filter-search{
    padding: 0.5em;
    border: 1px solid black;
    border-bottom: none;
}


#add-meeting{
    padding: 0.5em;
    border: 1px solid black;
    border-left: none;
}

.hr-3{

    width: 60%;
    margin-left: 20%;
    margin-top: 10px;

}
.hr-2{

    width: 80%;
    margin-left: 10%;
    margin-top: 10px;

}

.date-pad{
    padding-left: 20%;
    font-weight: bold;
    font-size: 23px;
    padding-top: 10px;
}

#date-dropdown{
    margin-left: 20% ;
    margin-top: 5px;
    padding: 5px 10px;
    width: 60%;
}


#search-area{
    margin-left: 20% ;
    margin-top: 5px;
    padding: 20px 10px;
    width: 60%;
}

.fm-btn{
   padding: 0.2em ;
   background-color: blue;
   color: white;
   border-radius: 5px;
   margin-bottom: 20px;
}


#search-meeting{
    margin: 10px 5px;
    font-weight: bold;
    font-size: 29px;
}


/* meeting list  */

.search-meeting-list{
    display: flex;
    flex-wrap:wrap;
}

.search-meeting-list .boxes{

    width: 90%;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.red-btn{
    padding: 0.3em;
    background-color: red;
    font-weight: bold;
    color: white;
    margin: 5px ;
    font-size: 70%;

}

.p-2{
    padding-left: 10%;
    font-weight: bold;
    font-size: 70%px;
    padding-top: 10px;

}

.add-attendes{
    background-color: blue;
    color: white;
    padding: 0.2em;
    margin-left: 5%;
}








@media only screen and (min-width:700px){

.search-meeting-list{
    justify-content: space-around;

}

.search-meeting-list .boxes{
  width: 30%;
  border: 1px solid black;
  margin: 1em;
}

}