*{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(156, 156, 156);
    color: black;
   }
   .nav-links a {
    color: black;
    text-decoration: none;
   }
   /* LOGO */
   .menu-left {
    margin-left: 60px;
    display: flex;
    gap: 1em;
    font-size: 18px;
   }

   .menu-right {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   
   .menu {
    display: flex;
    gap: 25em;
    font-size: 18px;
   }
   .menu li {
    padding: 5px 14px;
   }
  
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   }

input[type=checkbox]{
    display: none;
   } 
   
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   
   @media (max-width: 640px) {
   .menu { 
    margin-top: 10px;
    display:none;
    position: absolute;
    background-color: rgb(174, 174, 174);
    right: 0;
    left: 0;
    text-align: center;
    padding: 0px 0;
   }

   .navbar{
    background-color: rgb(174, 174, 174) ;
   }

   .menu-left{
    display: block;
    margin-left: auto;
   }

   .menu-right{
    display: block;
    margin-left: auto;
   }

   #display-name{
    display: none;
   }

   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .checkbox_toggle{
    /* margin-left: 320px; */
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }